<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{url_for("static", filename='main.css')}}">
  <link rel="stylesheet" href="{{url_for("static", filename='nav.css')}}">
  <link rel="stylesheet" href="{{url_for("static", filename='nav_float.css')}}">
  <title>Login</title>
</head>
<body>
  <main>
    {% include 'commons/nav.html'%}
    <section class="content">
      {% include 'commons/nav_float.html' %}
      <div class="camera_home">
        <!-- Botones para activar y desactivar la imagen -->
        <div class="camera_btns">
          <button class="btn_action" onclick="activarImagen()">Activar Cámara</button>
          <button class="btn_action" onclick="desactivarImagen()">Apagar Cámara</button>
        </div>
        <img src="{{ url_for('video_feed') }}" id="videoImage" alt="">
      </div>
    </section>
  </main>
  <script>
    // Función para activar la imagen
    function activarImagen() {
      document.getElementById('videoImage').style.display = 'block';
    }
    
    // Función para desactivar la imagen
    function desactivarImagen() {
      document.getElementById('videoImage').style.display = 'none';
    }
  </script>
  {% include 'commons/script_nav.html'%}
</body>
</html>