<!DOCTYPE html>
<html lang="en">
  {% set title = 'Inicio' %}
  {% include 'commons/header.html' %}
<body>
  <main>
    {% include 'commons/nav.html' %}
    <section class="content">
      {% include 'commons/nav_float.html' %}
      <div class="home">
        <div class="info">
          <img src="{{url_for("static", filename='img/banner3.jpg')}}" alt="banner">
          <h1 class="info-title">Bienvenido al Sistema</h1>
          <hr class="line">
          <div class="card">
            <span class="card-prop">Entradas</span>
            <span class="card-number">15</span>
          </div>
          <div class="card">
            <span class="card-prop">Salidas</span>
            <span class="card-number">15</span>
          </div>
        </div>
        <div class="camera_home">
          <!-- Botones para activar y desactivar la imagen -->
          <div class="camera_btns">
            <button class="btn_action" onclick="activarImagen()">Activar Cámara</button>
            <button class="btn_action" onclick="desactivarImagen()">Apagar Cámara</button>
          </div>
          <img src="{{ url_for('video_feed') }}" id="videoImage" alt="">
        </div>
      </div>
    </section>
  </main>
  {% include 'commons/script_camera.html' %}
  {% include 'commons/script_nav.html' %}
</body>
</html>