<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for("static", filename='main.css')}}">
  <link rel="stylesheet" href="{{url_for("static", filename='nav.css')}}">
  <title>Login</title>
</head>
<body>
  <main>
    {% include 'commons/nav.html' %}

    <h1>Inicio</h1>
    <div>
      <img src="{{ url_for('video_feed') }}" id="videoImage" alt="">
    </div>
    <!-- Botones para activar y desactivar la imagen -->
    <button onclick="activarImagen()">Activar Imagen</button>
    <button onclick="desactivarImagen()">Desactivar Imagen</button>
  </main>

  <script>
      // Función para activar la imagen
      function activarImagen() {
          document.getElementById('videoImage').style.display = 'block';
      }

      // Función para desactivar la imagen
      function desactivarImagen() {
          document.getElementById('videoImage').style.display = 'none';
      }
  </script>
</body>
</html>